.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.scroll-container::-webkit-scrollbar {
  width: 8px;
}

.scroll-container::-webkit-scrollbar-track {
  background: #535AC8;     
  border-radius: 999px;
}

.scroll-container::-webkit-scrollbar-thumb {
  background: #A4A9FC;    
  border-radius: 999px;
}

.scroll-container::-webkit-scrollbar-thumb:hover {
  background: #C3C6FD;     
}

.form-group input,
.form-group textarea,
.form-group select {
  border: 1px solid black;
  border-radius: 0.3rem;
  padding: 0.3rem;
  font-size: 1rem;
}

.form-group label {
  margin-bottom: 0.2rem;
}

.error {
  background-color: #f8d7da;
  color: #df4759;
  padding: 0.5rem;
  border-radius: 0.3rem;
  margin-bottom: 1rem;
}


.label {
  border-radius: 3px;
  padding: 0.3rem;
  color: white;
}

.label-draft {
  background-color: #777;
}

.label-live {
  background-color: #42a942;
}

.label-error {
  background-color: #d9534f;
}

.actions {
  display: flex;
  justify-content: space-around;
}

.actions svg {
  cursor: pointer;
}

.table-container {
  width: 100%;
  height: 600px;
  overflow: auto;
}

.table-container::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.table-container::-webkit-scrollbar-track {
  background: #141b2d;
}

.table-container::-webkit-scrollbar-thumb {
  background: #535ac8;
  border-radius: 8px;
}

.table-container::-webkit-scrollbar-thumb:hover {
  background: #6870fa;
}